fastapi
uvicorn
python-jose[cryptography]
pyjwt
requests
boto3
botocore
python-multipart
authlib
langchain-core
langchain-text-splitters
langchain-community
langchain-google-genai
langchain-huggingface
langchain-experimental
langchain-qdrant
langchain-docling
sentence-transformers
qdrant-client
elasticsearch
itsdangerous
langchain_elasticsearch