fastapi
uvicorn
python-jose[cryptography]
pyjwt
requests
boto3
botocore
python-multipart
authlib
langchain                               
langchain-community
langchain-core 
langchain-docling
langchain-elasticsearch
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-qdrant
langchain-tavily
langchain-tests
langchain-text-splitters
langchain-unstructured
sentence-transformers
qdrant-client
elasticsearch
itsdangerous
