fastapi
uvicorn
python-jose[cryptography]
pyjwt
requests
boto3
botocore
python-multipart
authlib
itsdangerous
elasticsearch
langchain-core
langchain-community
langchain-docling
langchain-elasticsearch
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-qdrant
langchain-tavily
langchain-tests
langchain-text-splitters
langchain-unstructured
qdrant-client
sentence-transformers
